<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>SK Associates</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="SK Associates, Real Estate, Lahore Real Estate, Design House, Burraq Marketing" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
    {% block css %}
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/zoomslider.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <!--/web-fonts-->
    <link href='//fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:400,300,300italic,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    {% endblock %}
<!--//web-fonts-->
</head>
<body>
{% block content %}
<!--/main-header-->
<div class="top-main" id="home">
   <div class="header-top">
				<div class="w3l_header_left">
					<ul>
						<li><span class="fa fa-envelope" aria-hidden="true"></span> <a href="mailto:skassociates1600@gmail.com">skassociates1600@gmail.com</a></li>
						<li><span class="fa fa-phone-square" aria-hidden="true"></span> (042) 35953400</li>
					</ul>
				</div>
				<div class="w3l_header_right">
					<ul class="top-links">
							<li><a href="https://web.facebook.com/SkAssociatesPk/" title="_blank"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>

				</div>
				<div class="clearfix"> </div>
   </div>
   <div class="header-bottom">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
					<div class="logo">
{#						<h1><a class="navbar-brand" href="index.html"><span class="one">F</span>etch<span class="one">V</span>illa</a></h1>#}
					    <img src="{% static 'images/sk_logo.png' %}">
                    </div>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="cl-effect-1" id="cl-effect-1">
						<ul class="nav navbar-nav">
							<li class="active"><a class="scroll" href="index.html">Home</a></li>
							<li><a href="#team" class="scroll hvr-bounce-to-bottom">About Us</a></li>
                            <li><a href="#projects" class="scroll hvr-bounce-to-bottom">Services</a></li>
                            <li><a href="#gallery" class="scroll hvr-bounce-to-bottom">Gallery</a></li>
							<li><a href="#contact" class="scroll hvr-bounce-to-bottom">Contact</a></li>
						</ul>
					</nav>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
	
		</div>
	</div>
<!--/banner-section-->
	<div id="demo-1" data-zs-src='["{% static 'images/1.jpg' %}", "{% static 'images/2.jpg' %}", "{% static 'images/3.jpg' %}","{% static 'images/4.jpg' %}"]' data-zs-overlay="dots">
		<div class="demo-inner-content">
			<!--/banner-info-->
			   <div class="baner-info">
			      <h3>Your <span>Edge</span> in <span>Real</span> Home</h3>
				  <h4>Build Your Dream Villa</h4>
				  <span><img src="{% static 'images/logo2.png' %}" alt=""></span>
			   </div>
			<!--/banner-ingo-->
		</div>
    </div>
<!--/banner-section-->
</div>
<!--/main-header-->
<!-- /pop-->
				<div class="modal ab fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog sign" role="document">
					<div class="modal-content about">
						<div class="modal-header one">
							<button type="button" class="close sg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>	
								<div class="discount one">
									<h3>A Few Words about Us</h3>
									
								</div>							
						</div>
						 <div class="modal-body about">
								<img src="{% static 'images/v5.jpg' %}" alt="w3ls" class="img-responsive">
							<h4>SK Associates</h4>
							<p>Great design is the informed, practical use of space. The way each room and every detail flow beautifully together. Design matters because when done right, the result is always a home that feels one with the property and the neighbourhood around it.</p>
							
						 </div>

								
					</div>
				</div>
			</div>
            <div class="team" id="team">
                <div class="container">
                    <h3 class="tittle">About <span>Us </span></h3>
                 <!--/about-section-->
                    <div class="about-section agileits">
                        <div class="col-md-6">
                            <img src="{% static 'images/v7.jpg' %}" alt=" " class="img-responsive">
                        </div>
                        <div class="col-md-6 ab-text">
{#                                 <h4 class="tittle">About Us</h4>#}
                                  <p>We help you find a "ready-made" plan that fits your needs and provide all the architectural resources and advice you need to build, whether you're ready to break ground tomorrow or are just beginning your journey to a new home.</p>
                                    <p><b>Design Matters. Our Clients Matter More.</b></p>
                            <p>This motto is the reason our clients continue to trust us with their most important and valuable possession: their home.</p>
                                  <div class="start">
                                     <a href="#" data-toggle="modal" data-target="#myModal1" class="hvr-bounce-to-bottom">Read More</a>
                                  </div>

                        </div>
                        <div class="clearfix"> </div>
                    </div>
			  <!--//about-section-->
			</div>
	     </div>
{#    <div class="agitsworkw3ls" id="property">#}
    <div class="projects" id="projects">

        <div class="col-md-6 agitsworkw3ls-grid ">
       <h3 class="tittle two">Our <span>Services</span> </h3>
				<!-- Tabs -->
				<div class="tabs">
					<div class="sap_tabs">
						<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
							<ul class="resp-tabs-list">
								<li class="resp-tab-item resp-tab-active" aria-controls="tab_item-0" role="tab"><span>ENGINEERING</span></li>
								<li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>ARCHITECTURE</span></li>
								<li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>TOWN PLANNING</span></li>
								<div class="clearfix"></div>
							</ul>

							<div class="resp-tabs-container">
								<h3 class="resp-accordion resp-tab-active" role="tab" aria-controls="tab_item-0"><span class="resp-arrow"></span>CREATION</h3><div class="tab-1 resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0" style="display:block">
									<p>Our engineers apply science and technology to the real world by designing buildings that enhance our standard of living and improve our quality of life. We do this by combining building systems – structural, electrical, mechanical, lighting, acoustics and fire protection - into an integrated whole.</p>
									
								</div>
								<h3 class="resp-accordion" role="tab" aria-controls="tab_item-1"><span class="resp-arrow"></span>ANALYSIS</h3><div class="tab-2 resp-tab-content" aria-labelledby="tab_item-1">
									<p>Our Architects design all kinds of buildings. Before constructing a building, we draw a plan of the building. The building is then built by a construction company which follows the directions of the plans for the building.</p>
									
								</div>
								<h3 class="resp-accordion" role="tab" aria-controls="tab_item-2"><span class="resp-arrow"></span>STRATEGY</h3><div class="tab-3 resp-tab-content" aria-labelledby="tab_item-2">
									<p>We design new towns and villages. We improve communities and environment. We protect buildings that are of historical and architectural importance. We ensure that suitable land becomes available for development and supporting business and jobs</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //Tabs -->

			</div>

			<div class="col-md-6 agitsworkw3ls-grid-2">
			   <div class="info-imgs">
			         <ul>
					  <li>
						  <div class="gallery-grid1">
								<img src="{% static 'images/v5.jpg' %}" alt=" " class="img-responsive">
								<div class="p-mask">
										<h4>Luxury <span>Villa Design</span></h4>
									<p>We can design luxury villas according to what you have in your mind</p>
								</div>
							</div>
					  </li>
					   <li>
					     <div class="gallery-grid1">
							<img src="{% static 'images/v2.jpg'%}" alt=" " class="img-responsive">
							<div class="p-mask">
									<h4>Luxury <span>Home</span></h4>
								<p>Your dream house is built with our professional designs</p>
							</div>
						</div>
					   </li>
						<li>
						   <div class="gallery-grid1">
							<img src="{% static 'images/v6.jpg' %}" alt=" " class="img-responsive">
							<div class="p-mask">
									<h4>Luxury <span>Buildings</span></h4>
								<p>With us, You can design luxury buildings with our latest and professional designs</p>
							</div>
						</div>
						</li>
					    <li>
						  <div class="gallery-grid1">
							<img src="{% static 'images/v7.jpg' %}" alt=" " class="img-responsive">
							<div class="p-mask">
									<h4>Commercial <span>Buildings</span></h4>
								<p>We can help you design commercial buildings with latest design and ideas</p>
							</div>
						</div>
						</li>
					 </ul>
			   </div>
				
			</div>
			<div class="clearfix"></div>

		</div>
	<!-- //Stats -->
 <!--/team-->

		  <!--/team-->
			<!-- gallery -->
	<div class="gallery agile" id="gallery">
		<div class="container">
			<h3 class="tittle"> Our <span>Gallery</span></h3>
            <div class="col-md-offset-4">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

                <button class="btn btn-default filter-button custom-buttons" data-filter="all">All</button>

                {% for names in folder_names %}
                    {% if names %}
                        <button class="btn btn-default filter-button custom-buttons" data-filter="{{ names.title }}">{{ names.title }}</button>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>

			<div class="agile_gallery_grids w3-agile">
				<ul class="clearfix demo">
                    {% for image in images %}
                        {% if image %}
                        <li>
                            <div class="gallery-grid1">
                               <div class="gallery_product filter {{ image.folder.title }}">
                                    <img src="{{ image.image.url }}" class="img-responsive">
                                </div>
                                <div class="p-mask">
                                        <h4>SK | <span>{{ image.image_title }}</span></h4>
                                    <p>{{ image.image_description }}</p>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
				</ul>
			</div>
		</div>
	</div>

<div class="contact-w3ls" id="contact">
		<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form method="post" id="contact_form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.Name.label_tag }}
                                {{ form.Name }}
                        </div>

                        <div class="form-group">
                            {{ form.Email.label_tag }}
                            <div class="input-group">
                             <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                             </span>
                                    {{ form.Email }}
                            </div>
                        </div>
                        <div class="form-group">
                        {{ form.Subject.label_tag }}
                                {{ form.Subject }}
                        </div>
                    </div>
                    <div class="col-md-6">
                            <div class="form-group">
                            {{ form.Message.label_tag }}
                                    {{ form.Message }}
                            </div>
                    </div>

                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                            Send Message</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
                <div class="text-color">
                    <legend class="text-color"><span class="glyphicon glyphicon-globe"></span> Our office</legend>
                    <address>
                        <strong>SK Associates</strong>
                        <br>
                        234-C PIA Main Boulevard,<br>
                        Johar Town, Lahore<br>
                        <abbr title="Phone">
                            </abbr>
                        (042)35953400<br/>
                        (042)35455900
                    </address>
                    <address>
                        <strong>Email Us</strong><br>
                        <a href="mailto:skassociates1600@gmail.com">skassociates1600@gmail.com</a>
                    </address>
                    </div>
            </form>
        </div>
    </div>
    <div class="alert alert-success" id="alert_success_id">
        <strong>Thank you!</strong> Your response has been recorded.
    </div>

        <h3 class="text-center follow">Follow <span>Us</span></h3>
            <ul class="social-icons1 agileinfo">
                <li><a href="https://web.facebook.com/SkAssociatesPk/" title="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
            <div class="w3agile_footer_copy">
                <p>© 2018 ClouDevz. All rights reserved</p>
        </div>
 </div>
	
</div>

    <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.zoomslider.min.js' %}"></script>
		<!-- search-jQuery -->
				<script src="{% static 'js/main.js' %}"></script>

    {#    Ajax Request#}
    <script>
       $('#alert_success_id').hide();
        $(document).on('submit', '#contact_form', function(e){
           e.preventDefault();
           $.ajax({
               type: 'POST',
               url: '{% url 'index' %}',
               data: {
                   Name: $('#id_Name').val(),
                   Email: $('#id_Email').val(),
                   Subject: $('#id_Subject').val(),
                   Message: $('#id_Message').val(),
                   'csrfmiddlewaretoken': '{{ csrf_token }}'
               },
               success:function () {
                  $("#contact_form")[0].reset();
                  $('#alert_success_id').show();
               }
           });
        });
    </script>

        <!-- //search-jQuery -->
        <script type="text/javascript">
            $(window).load(function() {
                $("#flexiselDemo1").flexisel({
                    visibleItems:3,
                    animationSpeed: 1000,
                    autoPlay: true,
                    autoPlaySpeed: 3000,
                    pauseOnHover: true,
                    enableResponsiveBreakpoints: true,
                    responsiveBreakpoints: {
                        portrait: {
                            changePoint:480,
                            visibleItems: 1
                        },
                        landscape: {
                            changePoint:640,
                            visibleItems: 2
                        },
                        tablet: {
                            changePoint:768,
                            visibleItems: 2
                        }
                    }
                });

            });
        </script>
        <script type="text/javascript" src="{% static 'js/jquery.flexisel.js' %}"></script>

	<!-- Horizontal-Tabs-JavaScript -->
				<script src="{% static 'js/easyResponsiveTabs.js' %}" type="text/javascript"></script>
				<script type="text/javascript">
					$(document).ready(function () {
						$('#horizontalTab').easyResponsiveTabs({
							type: 'default',
							width: 'auto',
							fit: true,
						});
					});
				</script>
			<!-- Horizontal-Tabs-JavaScript -->
			<script src="{% static 'js/jquery.picEyes.js' %}"></script>
				<script>
					$(function(){
						//picturesEyes($('.demo li'));
						$('.demo li').picEyes();
					});
				</script>
				<!--start-smooth-scrolling-->
<!--/script-->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>

<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
 <script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
<!--end-smooth-scrolling-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script>
        $(document).ready(function(){

    $(".filter-button").click(function(){
        var value = $(this).attr('data-filter');

        if(value == "all")
        {
            //$('.filter').removeClass('hidden');
            $('.filter').show('1000');
        }
        else
        {
//            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
//            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
            $(".filter").not('.'+value).hide('3000');
            $('.filter').filter('.'+value).show('3000');

        }
    });

    if ($(".filter-button").removeClass("active")) {
$(this).removeClass("active");
}
$(this).addClass("active");

});
    </script>
 
{% endblock %}
</body>
</html>